@model IEnumerable<Properties>
@{
    Layout = "_Layout";
    ViewBag.Title = "All Properties";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Property List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Properties" asp-action="Create">
                <i class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;Create New
            </a>
        </div>
    </div>

    <br />
    <br />

    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>PropertyNumber</th>
            <th>Address</th>
            <th>City</th>
            <th>CostPerSqft</th>
            <th>NumberOfSqft</th>
            <th>TotalCost</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var property in Model)
        {
            <tr>
                <td>@property.Id</td>
                <td>@property.PropertyNumber</td>
                <td>@property.Address</td>
                <td>@property.City</td>
                <td>@property.CostPerSqft</td>
                <td>@property.NumberOfSqft</td>
                <td>@property.TotalCost</td>
                <td>@property.Status</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@property.Id">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" value="@property.Id" name="id"/>
                        <input type="image" src="~/images/delete.png"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>